**/__pycache__
**/.idea
.idea/

Data/*
preprocess/
postprocess/
SRGANx8/
schlieren_experiment/

schlieren_results/
training_images_x4/
training_images_x8/
for_paper/
experiment/
finetune_images/

ESRGAN_x4/training_logs/
ESRGAN_x8/training_logs/
ESRGAN_x8/src/net_interp.py
RealESRGAN_x4/training_logs/
RealESRGAN_x8/training_logs/
